<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-success bg-gradient">Edit a Product</div>
        <div class="card-body">
          <form class="row justify-content-center" [formGroup]="editProductFormGroup" (ngSubmit)="handleEditProduct()">
            <div class="row mb-3">
              <label class="form-label col-4" for="Product_Name">Product Name :</label>
              <div class="col-8">
                <input class="form-control" type="text" id="Product_Name" formControlName="productName" value="{{productName}}">
              </div>
            </div>
            <div class="row mb-3">
              <label class="form-label col-4" for="Product_Price">Product Price :</label>
              <div class="col-8">
                <div class="input-group">
                  <span class="input-group-text bg-success bg-opacity-25">$</span>
                  <input class="form-control" id="Product_Price" type="text" formControlName="productPrice" value="{{productPrice}}">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="form-label col-4" for="Product_Quantity">Product Quantity :</label>
              <div class="col-8">
                <input class="form-control" id="Product_Quantity" type="text" formControlName="productQuantity" value="{{productQuantity}}">
              </div>
            </div>
            <div class="row mb-3">
              <label class="form-label col-4" for="Product_Description">Product Description :</label>
              <div class="col-8">
                <textarea class="form-control col-8" id="Product_Description" formControlName="productDescription" [(ngModel)]="productDescription"></textarea>
              </div>
            </div>
            <div class="row mb-3 justify-content-center">
              <div class="col-4">
                <button class="btn btn-primary">Update Product</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
